@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slider {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slider > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slider h1 {
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: -30px;
}

.left-slider p {
  font-size: 25px;
  margin-top: 10px;
}

.right-slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slider > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  color: rgb(155, 151, 151);
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 15px;
}

button:hover {
  color: black;
}

button:focus {
  outline: none;
}

.slider-container .action-button button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-button .down {
  transform: translateX(-100%);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.slider-container .action-button .up {
  transform: translateY(-100%);
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}
